/*Animation*/

body {
    overflow: hidden; 
}

#animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    z-index: 9999; 
    animation: bounceOut 2s forwards; 
}

#logo {
    width: 400px;
}

#kroma {
    width: 350px;
}
#animation-text {
    text-align: center;
}

@keyframes bounceOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-20px);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh); 
        opacity: 0;
    }
}

body {
    margin: 0;
    padding: 0;
    overflow: visible; 
}
/*Button format*/
button {
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #000000;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
}
.glow-on-hover{
    position: relative;
    background-color: black;
    border-radius: 4em;
    font-size: 1em;
    color: white;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
  }
  
  .glow-on-hover:hover {
    transition-duration: 0.1s;
    background-color: #fcfcfc;
    color: #000000;
  }
  
  .glow-on-hover:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  
  .glow-on-hover:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  .glow-on-hover:active {
    top: 1px;
  }
/*Content Design*/
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: auto; /* Enable horizontal scrolling */
}

header {
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main navbar signup";
    background-color: black;
}

header div img {
    width: 200px;
    grid-area: main;
}

header nav {
    grid-area: navbar;
}

header div .cta-button {
    grid-area: signup;
    
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

header nav li {
    margin-right: 20px; /* Adjust spacing between navigation items */
}

.hero{
    padding: 5%;
    align-items: center;
    justify-items: center;
}